<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo di Registrazione</title>
    <link rel="stylesheet" href="static/style.css">
    <script>
        function redirectToHome() {
            window.location.href = "http://127.0.0.1:5000/";
        }
    </script>
</head>
<body id="body">
    <div id="background-blur" class="background-blur"></div>

    <div class="navbar">
        <div class="logo-container">
            <img src="static/logo.png" alt="Logo">
        </div>
        <div class="nav-links">
            <a href="#body" onclick="redirectToHome()">Home</a>
        </div>
    </div>

    <div class="header" id="home">
        <div class="logo-container">
            <img src="static/logo.png" alt="Logo">
            <div class="title">
                <h1>Prime Subscape</h1>
            </div>
        </div>
    </div>


        <div class="search-results">
            
        <h2>Utente aggiunto con successo</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Username</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Location</th>
                    <th scope="col">Subscription</th>
                    <th scope="col">Usage</th>
                    <th scope="col">Feedback</th>
                </tr>
            </thead>
            <tbody>
                <tr id="{{user['_id']}}">
                    <td data-label="object id">{{ user["_id"] }}</td>
                    <td data-label="User ID">{{ user["User ID"] }}</td>
                    <td data-label="Name">{{ user["Name"] }}</td>
                    <td data-label="Email Address">{{ user["Email Address"] }}</td>
                    <td data-label="Username">{{ user["Username"] }}</td>
                    <td data-label="Date of Birth">{{ user["Date of Birth"] }}</td>
                    <td data-label="Gender">{{ user["Gender"] }}</td>
                    <td data-label="Location">{{ user["Location"] }}</td>
                    <td data-label="Subscription">
                        <ul>
                            {% if user["Subscription"] %}
                            <li>Start Date: {{ user["Subscription"]["Start Date"] }}</li>
                            <li>End Date: {{ user["Subscription"]["End Date"] }}</li>
                            <li>Plan: {{ user["Subscription"]["Plan"] }}</li>
                            <li>Payment Information: {{ user["Subscription"]["Payment Information"] }}</li>
                            <li>Renewal Status: {{ user["Subscription"]["Renewal Status"] }}</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td data-label="Usage">
                        <ul>
                            {% if user["Usage"] %}
                            <li>Frequency: {{ user["Usage"]["Frequency"] }}</li>
                            <li>Purchase History: {{ user["Usage"]["Purchase History"] | join(', ') }}</li>
                            <li>Favorite Genres: {{ user["Usage"]["Favorite Genres"] | join(', ') }}</li>
                            <li>Devices Used: {{ user["Usage"]["Devices Used"] | join(', ') }}</li>
                            <li>Engagement Metrics: {{ user["Usage"]["Engagement Metrics"] }}</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td data-label="Feedback">
                        <ul>
                            {% if user["Feedback"] %}
                            <li>Ratings: {{ user["Feedback"]["Ratings"] }}</li>
                            <li>Customer Support Interactions: {{ user["Feedback"]["Customer Support Interactions"] }}</li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div> 
    <script>
        // Aggiungi l'evento di submit a tutti i form
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function() {
                // Salva la posizione corrente dello scroll
                localStorage.setItem('scrollPosition', window.scrollY);
            });
        });

        window.addEventListener('load', function() {
            // Ripristina la posizione dello scroll
            var scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
                localStorage.removeItem('scrollPosition'); // Rimuove la posizione salvata
            }
        });
    </script>
    <script src="static/script.js"></script>
</body>
</html>
