<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo di Registrazione</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body id="body">
    <div id="background-blur" class="background-blur"></div>

    <div class="navbar">
        <div class="logo-container">
            <img src="static/logo.png" alt="Logo">
        </div>
        <div class="nav-links">
            <a href="#query">Query</a>
            <a href="#body">Home</a>
        </div>
    </div>

    <div class="header" id="home">
        <div class="logo-container">
            <img src="static/logo.png" alt="Logo">
            <div class="title">
                <h1>Prime Subscape</h1>
            </div>
        </div>
    </div>

    <div class="content" id="query">
        <h2>Modulo di aggiunta utente</h2>
            <form action="http://127.0.0.1:5000/add_user" method="post">
                
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" class="input-field" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="input-field" required>
                
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="input-field" required>
                
                <label for="date_of_birth">Data di Nascita:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" class="input-field" required>
                
                <label for="gender">Genere:</label>
                <select id="gender" name="gender" class="input-field" required>
                    <option value="Male">Maschio</option>
                    <option value="Female">Femmina</option>
                    <option value="Other">Altro</option>
                </select>
                
                <label for="location">Luogo:</label>
                <input type="text" id="location" name="location" class="input-field" required>
                
                <fieldset>
                    <legend>Dettagli Sottoscrizione</legend>
                    <label for="subscription_start_date">Data di Inizio:</label>
                    <input type="date" id="subscription_start_date" name="subscription_start_date" class="input-field" required>
                    
                    <label for="subscription_end_date">Data di Fine:</label>
                    <input type="date" id="subscription_end_date" name="subscription_end_date" class="input-field" required>
                    
                    <label for="subscription_plan">Piano:</label>
                    <select id="subscription_plan" name="subscription_plan" class="input-field" required>
                        <option value="Annual">Annuale</option>
                        <option value="Monthly">Mensile</option>
                    </select>
                    
                    <label for="payment_information">Informazioni di Pagamento:</label>
                    <select id="payment_information" name="payment_information" class="input-field" required>
                        <option value="Visa">Visa</option>
                        <option value="Mastercard">Mastercard</option>
                        <option value="Amex">Amex</option>
                    </select>
                    
                    <label for="renewal_status">Stato del Rinnovo:</label>
                    <select id="renewal_status" name="renewal_status" class="input-field" required>
                        <option value="Manual">Manuale</option>
                        <option value="Auto-renew">Auto-rinnovo</option>
                    </select>
                </fieldset>
                
                <fieldset>
                    <legend>Dettagli Utilizzo</legend>
                    <label for="usage_frequency">Frequenza:</label>
                    <input type="number" id="usage_frequency" name="usage_frequency" class="input-field" required>
                    
                    <label for="purchase_history">Storico Acquisti:</label>
                    <select id="purchase_history" name="purchase_history" class="input-field" required>
                        <option value="Electronics">Elettronica</option>
                        <option value="Books">Libri</option>
                        <option value="Clothing">Abbigliamento</option>
                    </select>
                    
                    <label for="favorite_genres">Generi Preferiti:</label>
                    <select id="favorite_genres" name="favorite_genres" class="input-field" required>
                        <option value="Documentary">Documentari</option>
                        <option value="Horror">Horror</option>
                        <option value="Comedy">Commedia</option>
                        <option value="Drama">Dramma</option>
                    </select>
                    
                    <label for="devices_used">Dispositivi Utilizzati:</label>
                    <select id="devices_used" name="devices_used" class="input-field" required>
                        <option value="Smart TV">Smart TV</option>
                        <option value="Smartphone">Smartphone</option>
                    </select>
                    
                    <label for="engagement_metrics">Metriche di Coinvolgimento:</label>
                    <select id="engagement_metrics" name="engagement_metrics" class="input-field" required>
                        <option value="Low">Bassa</option>
                        <option value="Medium">Media</option>
                        <option value="High">Alta</option>
                    </select>
                </fieldset>
                
                <fieldset>
                    <legend>Feedback</legend>
                    <label for="ratings">Valutazioni:</label>
                    <input type="number" id="ratings" name="ratings" class="input-field" step="0.1" required>
                    
                    <label for="customer_support_interactions">Interazioni con il Supporto Clienti:</label>
                    <input type="number" id="customer_support_interactions" name="customer_support_interactions" class="input-field" required>
                </fieldset>
                
                <input type="submit" class="submit-button" value="Aggiungi Utente">
            </form>


        <h2>Cerca Utente</h2>
        <form action="http://127.0.0.1:5000/find_user" method="post">
            <label for="Name">Nome:</label>
            <input type="text" id="Name" name="Name" class="input-field" required>

            <input type="submit" class="submit-button" value="Cerca">
        </form>

        <h2>Mostra tutti gli utenti</h2>
        <form action="http://127.0.0.1:5000/show_all_users" method="get">
            <input type="submit" class="submit-button" value="Mostra">



        <h2>Mostra gli utenti con abbonamento scaduto</h2>
        <form action="http://127.0.0.1:5000/show_end_date" method="get">
            <input type="submit" class="submit-button" value="Mostra">
    </div>
    <script src="static/script.js"></script>
</body>
</html>
