<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo di Registrazione</title>
    <link rel="stylesheet" href="static/style.css">
    <script>
        function redirectToHome() {
            window.location.href = "http://127.0.0.1:5000/";
        }
    </script>
</head>
<body id="body">
    <div id="background-blur" class="background-blur"></div>

    <div class="navbar">
        <div class="logo-container">
            <img src="static/logo.png" alt="Logo">
        </div>
        <div class="nav-links">
            <a href="#body" onclick="redirectToHome()">Home</a>
        </div>
    </div>

    <div class="header" id="home">
        <div class="logo-container">
            <img src="static/logo.png" alt="Logo">
            <div class="title">
                <h1>Prime Subscape</h1>
            </div>
        </div>
    </div>

    <div class="content" id="query">
        <h2>Modulo di aggiunta utente</h2>
        <form action="http://127.0.0.1:5000/add_user" method="get">
            <input type="submit" class="submit-button" value="Aggiungi Utente">
        </form>

        <h2>Cerca Utente</h2>
        <form action="http://127.0.0.1:5000/find_user" method="post">
            <label for="Name">Nome:</label>
            <input type="text" id="Name" name="Name" class="input-field" required>

            <input type="submit" class="submit-button" value="Cerca">
        </form>

        <h2>Mostra tutti gli utenti</h2>
        <form action="http://127.0.0.1:5000/show_all_users" method="get">
            <input type="submit" class="submit-button" value="Mostra">
        </form>


        <h2>Mostra gli utenti con abbonamento scaduto</h2>
        <form action="http://127.0.0.1:5000/show_end_date" method="get">
            <input type="submit" class="submit-button" value="Mostra">
        </form>
        
        <h2>Intervallo data</h2>
        <form action="http://127.0.0.1:5000/intervall_date" method="post">
            <label for="Start Date">Start Date:</label>
            <input type="date" id="Start Date" name="Start Date" class="input-field" required>

            <label for="End Date">End Date:</label>
            <input type="date" id="End Date" name="End Date" class="input-field" required>

            <input type="submit" class="submit-button" value="Cerca">
        </form>

        <h2>Cerca per genere</h2>
        <form action="/show_gender" method="post">
            <label for="Gender">Genere:</label>
            <select id="Gender" name="Gender" class="input-field" required aria-placeholder="genere">
                <option value="Male">Maschio</option>
                <option value="Female">Femmina</option>
                <option value="Other">Altro</option>
            </select>
            <input type="submit" class="submit-button" value="Cerca">
        </form>
    

        <h2>Cerca per location</h2>
        <form action="/show_location" method="post">
            <label for="Location">Location:</label>
            <input type="Location" id="Location" name="Location" class="input-field" required placeholder="Location">
            <input type="submit" class="submit-button" value="Cerca">
        </form>
         
        <h2>Mostra gli utenti con valutazioni basse o molte interazioni. Inserire i valori per la ricerca</h2>
        <form action="http://127.0.0.1:5000/show_ratings_lower" method="post">
            <label for="Ratings">Ratings:</label>
            <input type="number" id="Ratings" name="Ratings" class="input-field" required min="0" max="5">
            <label for="Customer Support Interactions">Customer Support Interactions:</label>
            <input type="number" id="Customer Support Interactions" name="Customer Support Interactions" class="input-field" required>
            <input type="submit" class="submit-button" value="Cerca">
        </form>
        

        <h2>Conteggio dei Piani di Abbonamento</h2>
        <form action="http://127.0.0.1:5000/count_plans" method="post">
            <input type="submit" class="submit-button" value="Mostra Conteggio dei Piani">
        </form>
        {% if plans%}
        <h3>Risultati:</h3>
        <table>
            <tr>
                <th>Piano di Abbonamento</th>
                <th>Conteggio</th>
            </tr>
           
                {% for plan in plans %}
                <tr>
                    <td>{{ plan._id }}</td>
                    <td>{{ plan.count }}</td>
                </tr>
                {% endfor %}
        
        </table>
        {% endif %}
        
        <h2>Valutazione Media per Location</h2>
        <form action="http://127.0.0.1:5000/rating_by_location" method="post">
            <input type="submit" class="submit-button" value="Mostra Valutazione Media per Location">
        </form>
        {% if avg_ratings %}
        <h3>Risultati:</h3>
        <table>
            <tr>
                <th>Location</th>
                <th>Valutazione Media</th>
            </tr>
            {% if avg_ratings %}
                {% for rating in avg_ratings %}
                <tr>
                    <td>{{ rating._id }}</td>
                    <td>{{ rating.avgRating }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        {% endif %}
        
        
        <h2>Mostra gli utenti con un solo dispositivo </h2>
        <form action="http://127.0.0.1:5000/users_with_one_device" method="get">
            <input type="submit" class="submit-button" value="Mostra">
        </form>

       
          
        <h2>Mostra gli utenti con  piano Mensile e alta Frequenza</h2>
        <form action="http://127.0.0.1:5000/users_with_monthly_plan" method="get">
            <input type="submit" class="submit-button" value="Mostra">
        </form>
       
    
        <h2>Conteggio degli Stati di Rinnovo</h2>
        <form action="http://127.0.0.1:5000/renewal_status_counts" method="post">
            <input type="submit" class="submit-button" value="Mostra Conteggio degli Stati di Rinnovo">
        </form>
        {% if counts %}
        <h3>Risultati:</h3>
        <table>
            <tr>
                <th>Stato di Rinnovo</th>
                <th>Conteggio</th>
            </tr>
            {% for status in counts %}
            <tr>
                <td>{{ status._id }}</td>
                <td>{{ status.count }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <h2>Conteggio degli Utenti per Numero di Dispositivi Usati (Valore calcolato con query)</h2>
        <form action="http://127.0.0.1:5000/count_devices_used" method="post">
            <input type="submit" class="submit-button" value="Mostra Conteggio degli Utenti per Numero di Dispositivi Usati">
        </form>
        {% if device_counts %}
        <table>
            <thead>
                <tr>
                    <th>Numero di Dispositivi Usati</th>
                    <th>Conteggio</th>
                </tr>
            </thead>
            <tbody>
                {% for count in device_counts %}
                <tr>
                    <td>{{ count._id }}</td>
                    <td>{{ count.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <h2>Mesi di abbonamento per ogni utente (valore calcolato)</h2>
        <form action="http://127.0.0.1:5000/get_all_subscriptions_years#subscription-form" method="get">
            <input type="submit" class="submit-button" value="Mostra Mesi Di Abbonamento">
        </form>
        {% if subscription_years %}
        <table>
            <thead>
                <tr>
                    <th>Object ID</th>
                    <th>Nome</th>
                    <th>Mesi di abbonamento</th>
                </tr>
            </thead>
            <tbody>
                {% for user_sub in subscription_years %}
                <tr>
                    
                    <td>{{ user_sub._id}}</td>
                    <td>{{ user_sub.Name}}</td>
                    <td>{{ user_sub.Subscription.Years }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <h2>Trovare Utenti per Durata dell'Abbonamento con Operatore Specifico</h2>
        <form action="http://127.0.0.1:5000/search_user_by_subscription_months" method="post">
            <input type="number"id = "months" name="months" class="input-field" required placeholder="Mesi di abbonamento">
            <select id="operator" name="operator" class="input-field" required>
                <option value="gte">Maggiore</option>
                <option value="lte">Minore</option>
                <option value="eq">Uguale</option>
            </select>

            <input type="submit" class="submit-button" value="Mostra Mesi Di Abbonamento">
        </form>
    </div>
    <script>
        // Aggiungi l'evento di submit a tutti i form
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function() {
                // Salva la posizione corrente dello scroll
                localStorage.setItem('scrollPosition', window.scrollY);
            });
        });

        window.addEventListener('load', function() {
            // Ripristina la posizione dello scroll
            var scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
                localStorage.removeItem('scrollPosition'); // Rimuove la posizione salvata
            }
        });
    </script>
    <script src="static/script.js"></script>
</body>
</html>
