<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risultati della Ricerca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="body">
    <div class="navbar">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <div class="nav-links">
            <a href="#query">Query</a>
            <a href="#body">Home</a>
        </div>
    </div>

    <div class="header" id="home">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            <div class="title">
                <h1>Prime Subscape</h1>
            </div>
        </div>
    </div>

    <div class="search-results">
        <h2>Risultati della Ricerca</h2>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Username</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Location</th>
                    <th>Subscription</th>
                    <th>Usage</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                {% for user in find_user %}
                <tr>
                    <td>{{ user["User ID"] }}</td>
                    <td>{{ user["Name"] }}</td>
                    <td>{{ user["Email Address"] }}</td>
                    <td>{{ user["Username"] }}</td>
                    <td>{{ user["Date of Birth"] }}</td>
                    <td>{{ user["Gender"] }}</td>
                    <td>{{ user["Location"] }}</td>
                    <td>
                        <ul>
                            <li>Start Date: {{ user["Subscription"]["Start Date"] }}</li>
                            <li>End Date: {{ user["Subscription"]["End Date"] }}</li>
                            <li>Plan: {{ user["Subscription"]["Plan"] }}</li>
                            <li>Payment Information: {{ user["Subscription"]["Payment Information"] }}</li>
                            <li>Renewal Status: {{ user["Subscription"]["Renewal Status"] }}</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Frequency: {{ user["Usage"]["Frequency"] }}</li>
                            <li>Purchase History: {{ user["Usage"]["Purchase History"] | join(', ') }}</li>
                            <li>Favorite Genres: {{ user["Usage"]["Favorite Genres"] | join(', ') }}</li>
                            <li>Devices Used: {{ user["Usage"]["Devices Used"] | join(', ') }}</li>
                            <li>Engagement Metrics: {{ user["Usage"]["Engagement Metrics"] }}</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Ratings: {{ user["Feedback"]["Ratings"] }}</li>
                            <li>Customer Support Interactions: {{ user["Feedback"]["Customer Support Interactions"] }}</li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
